:root {
  --darkblue: #170c5e;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 90%;
  height: 100%;
}

.landingHeader {
  background: var(--darkblue);
  min-height: 100%;
}
.whyus {
  background: var(--darkblue);
  min-height: 50%;
}

.whyus li {
  color: white;
  list-style: none;
}
.digit img {
  height: 100%;
  width: 100%;
}
.logo {
  height: auto;
  width: auto;
}

li a {
  color: white;
}
li {
  list-style: none;
}
.leftright img {
  height: 100%;
  width: 100%;
}
.SimplyDigital {
  color: white;
}
.laptoppic img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
}
.service {
  background: var(--darkblue);
  min-height: 40%;
}
.servicecomponent {
  /* border-radius: 2%;
  border-width: 2px solid rgb(75, 6, 44);
  border-style: groove;
  border-color: rgba(252, 252, 249, 0.938); */

  border: 2px solid rgb(228, 222, 222);
  padding: 10px;
  border-radius: 25px;
}
