:root {
  --darkblue: #170c5e;

  --hov: {
  }
}
.rounded {
  border-radius: 8px !important;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 90%;
  height: 100%;
}

.landingHeader {
  background: var(--darkblue);
  min-height: 100%;
  overflow: hidden;
  height: 550px;
}
.whyus {
  background: var(--darkblue);
  /* min-height: 100%; */
  height: 350px;
}

.whyus li {
  color: white;
  list-style: none;
}
.digit img {
  height: 100%;
  width: 100%;
}
.logo {
  height: auto;
  width: auto;
}

li a {
  color: white;
}
li {
  list-style: none;
}
.goal {
  background-color: rgb(236, 236, 236);
  background-image: url("./images/backgroundpata.svg");
  background-position: -121px -7px;
  background-repeat: no-repeat;
  background-size: 40%;

  width: 100%;
}
.goal img {
  /* height: 70%; */
  width: 60%;
}
.leftright {
  height: 500px;
  width: 100%;
  background-color: aqua;
}
.SimplyDigital {
  color: white;
}
.laptoppic img {
  height: 100%;
  width: 100%;
  transform: scale(1.2);
  /* object-fit: cover; */
}
.service {
  background: var(--darkblue);
  min-height: 200px;
}
.servicecomponent {
  /* border-radius: 2%;
  border-width: 2px solid rgb(75, 6, 44);
  border-style: groove;
  border-color: rgba(252, 252, 249, 0.938); */

  border: 1px solid rgb(228, 222, 222);
  padding: 0px;
  border-radius: 15px;
}

.benifites {
  background-color: #f7f7f7;
  height: 100%;
}

.whatweoffer .boxitem {
  height: 150px;
  width: 150px;
}
.whatweoffer img {
  height: 40px;
  width: 40px;
}

.whatweoffer .boxitem:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(32, 10, 153),
    rgb(127, 162, 228)
  );
  color: white;
}

.hoverblue:hover {
  background-color: #4a4df5 !important;
  color: white;
}
.boxitem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.partner {
  background-image: url("./images/backgroundchain.svg");
  /* background-position: left top; */
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */

  width: 100%;
}
.partner img {
  height: 100%;
  width: 100%;
}
/* video start */
.video-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  top: 66%;
  position: relative;
  text-align: center;
  color: #fdf6f6;
  padding: 10px;
}
/* video end */

/* footer start */

.footer_area {
  position: relative;
  background-image: linear-gradient(
    to right,
    rgb(30, 16, 107),
    rgb(10, 64, 163)
  );
  color: white;
  z-index: 1;
  overflow: hidden;
  webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
  box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
  padding: 20px;
}
.footer_area .row {
  margin-left: -25px;
  margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
  padding-right: 25px;
  padding-left: 25px;
}

.single-footer-widget {
  position: relative;
  z-index: 1;
}
.single-footer-widget .copywrite-text a {
  color: #747794;
  font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
  color: #3f43fd;
}
.single-footer-widget .widget-title {
  margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
  color: #b2b3bb;
  margin-bottom: 1rem;
  display: block;
  font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
  color: #8a8a9e;
}
.single-footer-widget .footer_menu li:last-child a {
  margin-bottom: 0;
}

.footer_social_area {
  position: relative;
  z-index: 1;
}
.footer_social_area a {
  border-radius: 50%;
  height: 40px;
  text-align: center;
  width: 40px;
  display: inline-block;
  background-color: #f5f5ff;
  line-height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 10px;
}
.footer_social_area a i {
  line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
  color: #ffffff;
}

@-webkit-keyframes bi-cycle {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes bi-cycle {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
ol li,
ul li {
  list-style: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}
/* footer End */
.btn-secondary {
  color: #fff;
  background-color: #c5ced6;
  border-color: #6c757d;
  color: black;
  font-weight: bold;
}
.graph img {
  height: 200px;
  width: 200px;
}
.graphsection {
  /* background-color: #8a8a9e; */
  height: 400px;
  background-color: rgb(236, 236, 236);
}
.graph {
  position: relative;
}
.graphchild1 {
  /* position: absolute; */
  top: 5%;
  left: 5%;
}
.graphchild2 {
  position: absolute;
  top: 40%;
  left: 25%;
}
.graphchild3 {
  position: absolute;
  top: 5%;
  left: 45%;
}
.graphchild4 {
  position: absolute;
  top: 40%;
  left: 65%;
}

@media only screen and (max-width: 500px) {
  .graphsection {
    /* background-color: #8a8a9e; */
    height: 300px;
    background-color: #c5ced6;
  }
  .graph img {
    height: 120px;
    width: 120px;
  }
  .graphchild1 {
    /* position: absolute; */
    top: 5%;
    left: 5%;
  }
  .graphchild2 {
    position: absolute;
    top: 40%;
    left: 25%;
  }
  .graphchild3 {
    position: absolute;
    top: 5%;
    left: 45%;
  }
  .graphchild4 {
    position: absolute;
    top: 40%;
    left: 65%;
  }
}
.border-primary {
  border-radius: 1px solid blue !important;
  border: 1px solid blue !important;
}
